<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello React!</title>
    <script src="lib/react.js"></script>
    <script src="lib/react-dom.js"></script>
    <script src="lib/browser.min.js"></script>
    <style>
        body {
          margin:1% 10%;
        }
        .main{
          /*margin:0 5em;*/
        }
        .imgNB{
          width: 100px;
          height: 100px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div id="example"></div>
    <script type="text/babel" src="xuli.js"></script>
  </body>
</html>
